{% load i18n %}

{# DEBUG #}
{#<code>#}
{#    Current Value: {{ widget.link.data.value }}<br>#}
{#    Complete Json: {{ widget.link.to_json }}<br>#}
{#    Config Json: {{ widget.link.config_to_json }}<br><br>#}
{#</code>#}

<div class="form-row"
     {% if widget.allowed_types|length == 1 %}style="display: none;"{% endif %}
>
    {{ widget.other_fields.link_type }}
</div>

{% for identifier, type_field in widget.type_fields.items %}
    {% if identifier in widget.allowed_types %}
        <div class="linkit_{{ widget.name }}_{{ identifier }} linkit_{{ widget.name }}_typefield" style="display: none">
            {{ type_field.markup }}<br>
        </div>
    {% endif %}
{% endfor %}

{% if widget.allow_label %}
    <div class="form-row">
        <label>{% trans "Label" %}:</label>
        {{ widget.other_fields.label }}
        <div class="help">{% trans "If ommited the object title will be used, eg page title." %}</div>
    </div>
{% endif %}

{% if widget.allow_no_follow %}
    <div class="form-row">
        <div class="checkbox-row">
            {{ widget.other_fields.target }}
            <label class="vCheckboxLabel" for="id_link_link_target">{% trans "Open link in a new window" %}</label>
        </div>
    </div>
{% endif %}

{% if widget.allow_no_follow %}
    <div class="form-row">
        <div class="checkbox-row">
            {{ widget.other_fields.no_follow }}
            <label class="vCheckboxLabel" for="id_link_link_no_follow">{% trans "Add 'nofollow' attribute" %}</label>
        </div>
    </div>
{% endif %}

<script type="text/javascript">
    django.jQuery(document).ready(function () {
        django.jQuery(".linkit_{{ widget.name }}_" + django.jQuery("#id_{{ widget.name }}_link_type").val()).show()

        django.jQuery("#id_{{ widget.name }}_link_type").change(function (element) {
            django.jQuery(".linkit_{{ widget.name }}_typefield").hide()
            django.jQuery(".linkit_{{ widget.name }}_" + django.jQuery("#id_{{ widget.name }}_link_type").val()).show()
        });
    });
</script>
